@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body
{
    background-color: #222831  ;
    font-family: Raleway;
    font-style: Bold;
}
.header
{
    width: fit-content;
    height:auto;
    margin-left: 30%;
    
}
.message
{
    width:100%;
    background:linear-gradient(to left,#393E46 , #222831);
    text-align: center;
    margin: 0px auto;
    padding-right: 50%;
    margin-top: 3%;
    color: #EEEEEE;
}
span
{
    font-size: 150%;
}
.interface
{
    display: flex;;
    justify-content: center;
}
.interface ul
{
    display: flex;
}
li {

    display: flex;
    justify-content: center;
}
button
{
    width: 90px;
    height: 115%;
    text-align: center;
    margin: 5px;
    background: #00ADB5 ;
    color: #EEEEEE;
    border-radius: 10px;
    border: none;
}
.i
{
    color: green;
}