@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body
{
    background-color: #222831  ;
    font-family: Raleway;
    font-style: Bold;
}
.header
{
    width: fit-content;
    height:auto;
    margin-left: 30%;
    
}
.message
{
    width:100%;
    background:linear-gradient(to left,#393E46 , #222831);
    text-align: center;
    margin: 0px auto;
    padding-right: 50%;
    margin-top: 3%;
    color: #EEEEEE;
}
span
{
    font-size: 150%;
}
.interface
{
    display: flex;;
    justify-content: center;
}
.interface ul
{
    display: flex;
    flex-wrap:wrap;
}
li {

    display: flex;
    justify-content: center;
    margin-bottom:15px;
}
button
{
    width: 90px;
    text-align: center;
    margin: 5px;
    background: #00ADB5 ;
    color: #EEEEEE;
    border-radius: 10px;
    border: none;
}
.i
{
    color: green;
}
.info
{
    margin-top:5%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
textarea{
    width: 100%;
    margin-bottom:0%;
    background-color: #222831;
    color:#eee;
    padding:10px;
    border-radius:4px;
}
#image_input
{
    width:100%;
    color:#eee;
    
}
input::file-selector-button {
    font-weight: bold;
    color:#eee;
    background-color:#00ADB5;
    padding: 0.5em;
    outline:none;
    border:none;
    border-radius:6px;
    
}
.profile 
{
    display: grid;
    grid-template-columns: 20% 100px 350px;
    margin-left:15%;
    margin-top:50px;
    margin-bottom: -20px;
    gap:14px;
    
    
}
#pfp 
{
    border-radius: 50%;
    box-shadow: 4px 4px 5px rgb(10, 10, 10);
}
#submit_profile
{
    border-radius: 10px;
    width:15%;
    height: 20px;
    background-color: #00ADB5;
    color: #eee;
    border: none;
    box-shadow: 4px 4px 5px rgb(10, 10, 10);

}
li:hover
{
    background-color: #222831;
}
.members
{
    display: flex;
    width: 450px;
    margin:10px auto;
    padding: 5px;
    border-bottom: 1px solid #393E46;
}

.mem_interface
{
    margin: auto 10px;
    font-family: Raleway;
    color: #fff;
    font-size: 12px;
}
.mempfp
{
    border-radius: 50%;

}